//colors start
$Black: #0E0F26;
$DarkBlue: #302399;
$Purple: #5F23A5;
$White: #FFFCFF;
$fontColor: #7F7F7F;
//colors end
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

body,
html {
  font-family: Vazirmatn UI FD;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

.wave {
  &:before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 100px;
    background-image: url(../img/wave.png);
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }
}

// custom btn
.button {
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid;
  color: $White;
  z-index: 0;

  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: $Purple;
    transition: 1s ease;
    top: -1em;
    left: -1em;
  }

  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: $Purple;
    transition: 1s ease;
    left: calc(100% + 1em);
    top: calc(100% + 1em);
  }

  &:hover {
    color: $White;

    &:before {
      height: 410px;
      width: 410px;
    }

    &:after {
      height: 410px;
      width: 410px;
    }
  }

  &:active {
    filter: brightness(.5);
  }
}

// animations
@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.ping {
  animation: ping 0.8s ease-in-out infinite both;
}

#goTop {
  position: fixed;
  bottom: 25px;
  z-index: 20;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: $Black;
  color: $White;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;

  i {
    line-height: 45px;

  }
}

header {
  height: 100vh;
  max-height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
  }

  nav {
    #mobileMenu {
      display: none;
    }

    height: fit-content;
    border-bottom: 1px solid $White;

    ul {
      li {
        a {
          padding: 10px;
          color: #fff;
          text-decoration: none;

          &:hover {
            background-color: $Purple;
            color: $White;
            border-radius: 5px;
          }

          &.active {
            width: 100%;
            height: 100%;
            background-color: $Purple;
            color: #fff;
            border-radius: 5px;
          }
        }
      }
    }

    &.stick {
      margin: 0 auto;
      background-color: $Black;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;

      ul {
        li {
          a {
            color: $White;

            &.active {
              color: #fff;
            }
          }
        }
      }
    }

    .logo {
      width: 50px;
      display: block;

      img {
        width: 100%;
      }
    }
  }

  #headContent {
    position: relative;
    z-index: 10;
    color: $White;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    h3 {
      font-size: 2.5em;
    }

    h1 {
      font-size: 3.5em;
    }

    p {
      font-size: 1em;
    }
  }
}

#home {
  min-height: fit-content;

}

#about {
  width: 100%;
  min-height: fit-content;

  .title {
    margin: 15px 0;
    text-align: center;

    h2 {
      font-size: 3em;
      margin: 15px 0;
      font-weight: 800;
    }

    h4 {
      font-size: 2em;
      margin: 15px 0;
    }

    span {
      display: block;
      width: 5%;
      margin: 25px auto;
      height: 2px;
      background-color: $Purple;
    }

    p {
      margin: 0 auto;
      width: 80%;
      font-size: 1em;
      color: $fontColor;
      line-height: 2;
    }
  }

  #aboutBox {
    margin: 25px auto;
    text-align: center;

    .box {
      border: 1px solid #f5f5f5;
      padding: 20px;
      border-radius: 10px;

      .icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid $Black;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title {
        h3 {
          font-size: 1.5em;
          font-weight: 700;
          color: #000;
        }
      }

      .desc {
        font-size: 1em;
        color: $fontColor;
      }

      span {
        display: block;
        margin: 25px auto;
        width: 15%;
        height: 3px;
        background-color: $Purple;
      }
    }
  }
}

#skill, #tops {
  width: 100%;
  min-height: fit-content;

  .skillContainer,
  .topsContainer {
    background-color: #F6F6F6;

    #skillImg {
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    #topsImg {
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .box {
      height: 100%;
      box-shadow: 0 5px 15px #ccc;
      border-radius: 8px;
      padding: 15px;
      justify-content: center;
      align-items: center;

      .title {
        margin: 30px;

        h1 {
          color: #000;
          margin-bottom: 15px;
        }

        p {
          color: $fontColor;
          font-size: 1em;
          line-height: 2;
        }
      }

      .skillBar {
        display: flex;
        align-items: center;

        span {
          margin: 0 10px;
          display: inline-block;
        }

        .skillName {
          width: 60px;
          height: 24px;
        }

        .bar {
          width: 80%;
          height: 24px;
          background-color: #ddd;
          border-radius: 15px;
          justify-content: space-between;
          overflow: hidden;
          position: relative;

          .progressPhp {
            margin: 0;
            display: block;
            position: absolute;
            height: 24px;
            background-color: #7377ad;
            width: 50%;

            &.php {
              animation: PHP 1s linear;
            }
          }

          .progressHtml {
            margin: 0;
            display: block;
            position: absolute;
            height: 24px;
            background-color: #dd4b25;
            width: 100%;

            &.Html {
              animation: Html 1s linear;
            }
          }

          .progressCss {
            margin: 0;
            display: block;
            position: absolute;
            height: 24px;
            background-color: #254bdd;
            width: 80%;

            &.css {
              animation: Css 1s linear;

            }
          }

          @keyframes PHP {
            from {
              width: 0;
            }
            to {
              width: 50%;
            }
          }
          @keyframes Html {
            from {
              width: 0;
            }
            to {
              width: 100%;
            }
          }
          @keyframes Css {
            from {
              width: 0;
            }
            to {
              width: 80%;
            }
          }
        }
      }
    }

    .result {
      border-radius: 8px;

      .rTitle {
        margin: 15px 0;
        padding: 0 15px;
        background-image: linear-gradient(to right, $DarkBlue, $Purple);
        color: $White;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin-top: 5px;
          font-size: 1.5em;
        }

        i {
          &:hover {
            cursor: pointer;
          }
        }
      }

      .rDesc {
        width: 90%;
        margin: 25px auto;

        p {
          font-size: 1em;
          color: $fontColor;
          line-height: 2;
        }

      }

    }
  }
}

#services {
  min-height: fit-content;

  .title {
    text-align: center;

    h2 {
      font-size: 3em;
      color: #000;
    }

    span {
      margin: 0 10px;
      width: 3%;
      display: inline-block;
      height: 1px;
      background-color: $Purple;
    }

    p {
      display: inline-block;
      color: $fontColor;
      font-size: 1em;
    }
  }

  .box {
    border: 1px solid #d5d5d5;
    padding: 15px;
    border-radius: 10px;

    .icon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      border-radius: 50%;
      border: 1px solid $Black;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      h3 {
        font-size: 1.5em;
        font-weight: 700;
        color: #000;
      }
    }

    .desc {
      font-size: 1em;
      color: $fontColor;
    }

    span {
      display: block;
      margin: 25px auto;
      width: 15%;
      height: 3px;
      background-color: $Purple;
    }
  }

}

#achivment {
  min-height: fit-content;
  background-image: url("../img/achivment.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);

  }

  #count {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .box {
      position: relative;
      text-align: center;
      margin: 0 auto;

      .icon {
        margin: 25px auto;
        width: 58px;
        height: 58px;
        color: $White;
        border-radius: 50%;

        i {
          font-size: 3em;
          line-height: 58px;
        }
      }

      .title {
        color: $White;
      }

      .count {
        margin: 25px 0;
        color: $White;

        h2 {
          font-size: 3em;
        }
      }
    }
  }
}

#smaples {
  min-height: fit-content;

  #filtering {
    .title {
      text-align: center;

      h1 {
        font-size: 3em;
      }

      p {
        margin: 15px 5px;
        display: inline-block;
        font-size: 1em;
        color: $fontColor;
      }

      span {
        display: inline-block;
        background-color: $Purple;
        height: 1px;
        width: 3%;
      }
    }

    .btn-group {
      display: flex;
      justify-content: center;
      width: 25%;
      text-align: center;
      margin: 0 auto;
      border: 1px solid #dddddd;
      padding: 6px;

      .btn-filter {
        //background-color: $DarkBlue;
        color: $Black;
        transition: 300ms;
        border: none;

        &:hover {
          border: none;
          transform: translateY(-5px);
        }

        &.active {
          color: $White;
          background-color: lighten($DarkBlue, 20%);
          //outline: 1px solid lighten($DarkBlue , 20%);
          border: 1px solid lighten($DarkBlue, 20%);
          border-radius: 25px;
        }

      }
    }

    .box {
      position: relative;

      .img {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      .overlay {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: $White;
        border: 1px solid #dddddd;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        transition: 300ms;
        transform: scale(0);

        .title {
          color: $fontColor;
          font-size: 1em;
        }

        a {
          width: 45px;
          height: 45px;
          border: 1px solid #dddddd;
          margin: 0 auto;
          border-radius: 50%;
          text-align: center;
          color: $Black;
          transition: 150ms;

          &:hover {
            background-color: $Purple;
            color: $White;
          }

          i {
            text-align: center;
            line-height: 42px;
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

#team {
  min-height: fit-content;

  .profile {
    margin: 0 auto;
    width: 250px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transition: 300ms;

    .profileImg {
      border: 1px solid #ddd;
      border-radius: 50%;
      margin: 15px auto;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .job {
      font-size: 1.3em;
      color: $fontColor;
    }

    .icons {
      opacity: 0;
      transition: 300ms;

      a {
        color: $fontColor;
        text-decoration: none;
        font-size: 1.3em;
        margin: 0 10px;

        i {
          transition: 300ms;

          &.fa-whatsapp {
            &:hover {
              color: #3db74d;
              transform: translateY(-5px);
            }
          }

          &.fa-instagram {
            &:hover {
              color: #f60a5f;
              transform: translateY(-5px);

            }
          }

          &.fa-github {
            &:hover {
              color: $Black;
              transform: translateY(-5px);
            }
          }
        }
      }

    }

    &:hover {
      box-shadow: 0 5px 15px #ddd;
      transform: translateY(-5px);

      .icons {
        opacity: 1;
      }
    }
  }
}

#price {
  width: 100%;
  min-height: fit-content;

  .container {
    max-width: 80%;
  }

  .title {
    text-align: center;

    h1 {
      font-size: 3em;
      margin-bottom: 15px;
    }

    p {
      margin: 15px 5px;
      display: inline-block;
      font-size: 1em;
      color: $fontColor;
    }

    span {
      display: inline-block;
      background-color: $Purple;
      height: 1px;
      width: 3%;
    }
  }

  .active {
    .box {
      transform: scale(1.1);
      background-image: url("../img/price.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      //width: 300px;
      position: relative;
      color: $White;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($DarkBlue, 60%);
        z-index: -1;
      }

      .pTitle {
        color: $White;
      }

      .price {
        color: $White;

        &:after {
          color: #ddd;
        }
      }

      button {
        color: $White;

        &:before {
          background-color: #f60a5f !important;
        }

        &:after {
          background-color: #f60a5f !important;
        }
      }
    }
  }

  .box {

    overflow: hidden;
    height: 500px;
    //width: 300px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    margin: 20px;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .pTitle {
      margin: 15px 0;
      border-bottom: 1px solid #ddd;
      font-size: 1.2em;
      color: #000;
    }

    .price {
      color: #000;
      font-size: 1.7em;
      display: inline-flex;
      justify-content: center;
      position: relative;

      &:after {
        content: "تومان";
        margin: 0 8px;
        color: $fontColor;
        font-size: .7em;
        line-height: 3;
      }
    }

    .duration {
      font-size: 1.2em;
    }

    ul {
      text-align: right;
      list-style: none;
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        font-size: 1em;

        i {
          &.fa-check {
            color: #3db74d;
          }

          &.fa-close {
            color: #f60a5f;
          }
        }
      }
    }

    button {
      color: #000;

      &:hover {
        color: $White;
      }
    }
  }
}

#coments {
  min-height: 70vh;

  .commentsBg {
    background-image: url("../img/comments.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .container {
    display: flex;
    min-height: 70vh;
    align-items: center;
  }

  .comment {
    margin: 20px auto;
    width: 70%;

    .commentImg {
      width: 58px;
      height: 58px;
      overflow: hidden;
      margin: 15px auto;
    }

    .commentTxt {
      font-size: 1em;
      text-align: center;
      background-color: rgba($White, 20%);
      box-shadow: 0 0px 15px rgba($White, 40%);
      color: $White;
      padding: 15px;
      border-radius: 10px;

      p {
        line-height: 2;
      }
    }
  }

  .owl-nav {
    button {
      width: 45px;
      height: 45px;
      padding: 15px;
      border-radius: 50%;
      background-color: #ddd;
      font-size: 2em;
    }
  }
}

#blog {
  min-height: fit-content;

  .title {
    text-align: center;

    h2 {
      font-size: 3em;
      color: #000;
    }

    span {
      margin: 0 10px;
      width: 3%;
      display: inline-block;
      height: 1px;
      background-color: $Purple;
    }

    p {
      display: inline-block;
      color: $fontColor;
      font-size: 1em;
    }
  }

  .box {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;

    .blogImg {
      width: 100%;
      height: 20%;
      overflow: hidden;

      img {
        width: 100%;
        transition: 300ms;
      }
    }

    .blogDesc {
      padding: 5px 15px;
      height: 10%;
      display: flex;
      justify-content: space-between;

      p {
        display: inline-block;
        color: $fontColor;
      }
    }

    .blogTitle {
      padding: 0 15px;

      a {
        color: $Black;
        text-decoration: none;
        font-size: 1em;
      }
    }

    .blogContent {
      padding: 15px;
      line-height: 2;
      color: $fontColor;
      font-size: 1em;
    }

    &:hover {
      .blogImg {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  button {
    color: $Black;
    border: 1px solid $Purple;

    &:hover {
      color: $White;
    }
  }
}

#contact {
  min-height: fit-content;

  .contactImg {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 8px;
    overflow: hidden;
    background-image: url("../img/skill.jpg");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 0;
    }

    img {
      width: 100%;
    }

    .content {
      width: 100%;
      height: calc(100vh - 40vh);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .items {
      width: 85%;
      margin: 0 auto;
      position: relative;
      z-index: 1;
      color: $White;
      display: flex;

      .icon {
        font-size: 2em;
        margin: 0 20px;
      }

      .info {
        p {
          font-size: 1em;
          line-height: .75;
          padding: 0;

          &:first-child {
            font-size: 1.2em !important;
            font-weight: 600;
          }

          &:last-child {
            color: lighten($fontColor, 20%);
          }
        }

        &.email {
          p {
            font-size: 1em;

            &:nth-child(2) {
              color: lighten($fontColor, 20%);
            }
          }
        }
      }
    }
  }

  form {
    padding: 0 25px;
    width: 100%;

    label {
      width: 100%;

      input {
        width: 100%;
        height: 48px;
        margin: 15px 0;
        border-radius: 10px;
        padding: 0 5px;
        border: 0;
        background-color: lighten($fontColor, 40%);
      }
    }

    textarea {
      width: 100%;
      border-radius: 10px;
      padding: 0 5px;
      border: 0;
      background-color: lighten($fontColor, 40%);
    }

    button {
      margin: 15px auto;
      width: 45%;
      height: 48px;
      color: $Black;
      border: $Purple 1px solid;

      &:hover {
        color: $White;
      }
    }
  }
}

footer{
  min-height: 30vh;
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  background-color: darken($Black , 7%);
  .logo{
    width: 58px;
    height: 58px;
    margin: 15px auto;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .icons{
    text-align: center;
    margin: 0 auto;
    a{
      font-size: 1.2em;
      color: $White;
      display: inline-block;
      width: 48px;
      height: 48px;
      border: 1px solid #dddddd;
      border-radius: 50%;
      text-decoration: none;
      line-height: 48px;
      transition: 100ms;
      &.Instagram{
        &:hover{
          background-color: #f60a5f;
          border-color: #f60a5f;
        }
      }
      &.Whatsapp{
        &:hover{
          background-color: #3db74d;
          border-color: #3db74d;
        }
      }
      &.Telegram{
        &:hover{
          background-color: #254bdd;
          border-color: #254bdd;
        }
      }
      &.gitHub{
        &:hover{
          background-color: #000;
          border-color: #000;
        }
      }
    }
  }
  p{
    margin: 15px 0;
    color: $White;
  }
}
@media(max-width: 1000px) {
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 1em !important;
  }
  .wave {
    &:before {
      height: 40px;
    }
  }
  nav {
    #mobileMenu {
      display: block !important;
      font-size: 18px;
      color: #fff;
    }

    &.mobileMenu {
      background-color: $White !important;

      #mobileMenu {
        display: block !important;
        font-size: 18px;
        color: $Black;
      }
    }

    ul {
      &.nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background-color: $White;
        text-align: center;
        z-index: 99;

        li {
          width: 100%;

          a {
            display: block;
            color: #000;
            width: 100%;

            &.active {
              width: 100%;
              border-radius: 0;
            }
          }
        }
      }
    }

    &.stick {
      &.mobileMenu {
        background-color: $Black !important;
      }

      #mobileMenu {
        color: #fff;
      }

      ul {
        background-color: $Black;
        height: 100vh;

        &.nav {
          li {
            a {
              display: block;
              color: $White;
              width: 100%;

              &.active {
                width: 100%;
                border-radius: 0;
              }
            }
          }
        }
      }

    }
  }
  section {
    display: block;
    min-height: 100vh !important;
  }

  #team {

    .profile {
      width: 100%;

      .icons {
        a {
          margin: 0 !important;
        }

        opacity: 1;

      }
    }
  }

}