*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 100vh;
  max-height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  nav{
    height: fit-content;
    &.stick{
      margin: 0 auto;
      background-color: #fff;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
    }
    .logo{
      width: 70px;
      height: 70px;
      display: block;
      img{
        width: 100%;
      }
    }
  }
}
section{
  height: 100vh;
  margin-top: 15px;
}