@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

body,
html {
  font-family: Vazirmatn UI FD;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

.wave:before {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100px;
  background-image: url(../img/wave.png);
  background-size: 100% 100%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.button {
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid;
  color: #FFFCFF;
  z-index: 0;
}
.button:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #5F23A5;
  transition: 1s ease;
  top: -1em;
  left: -1em;
}
.button:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #5F23A5;
  transition: 1s ease;
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.button:hover {
  color: #FFFCFF;
}
.button:hover:before {
  height: 410px;
  width: 410px;
}
.button:hover:after {
  height: 410px;
  width: 410px;
}
.button:active {
  filter: brightness(0.5);
}

@keyframes ping {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
.ping {
  animation: ping 0.8s ease-in-out infinite both;
}

#goTop {
  position: fixed;
  bottom: 25px;
  z-index: 20;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #0E0F26;
  color: #FFFCFF;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}
#goTop i {
  line-height: 45px;
}

header {
  height: 100vh;
  max-height: 100vh;
  background-image: url(../img/header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
header:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
header nav {
  height: fit-content;
  border-bottom: 1px solid #FFFCFF;
}
header nav #mobileMenu {
  display: none;
}
header nav ul li a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
header nav ul li a:hover {
  background-color: #5F23A5;
  color: #FFFCFF;
  border-radius: 5px;
}
header nav ul li a.active {
  width: 100%;
  height: 100%;
  background-color: #5F23A5;
  color: #fff;
  border-radius: 5px;
}
header nav.stick {
  margin: 0 auto;
  background-color: #0E0F26;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
header nav.stick ul li a {
  color: #FFFCFF;
}
header nav.stick ul li a.active {
  color: #fff;
}
header nav .logo {
  width: 50px;
  display: block;
}
header nav .logo img {
  width: 100%;
}
header #headContent {
  position: relative;
  z-index: 10;
  color: #FFFCFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
header #headContent h3 {
  font-size: 2.5em;
}
header #headContent h1 {
  font-size: 3.5em;
}
header #headContent p {
  font-size: 1em;
}

#home {
  min-height: fit-content;
}

#about {
  width: 100%;
  min-height: fit-content;
}
#about .title {
  margin: 15px 0;
  text-align: center;
}
#about .title h2 {
  font-size: 3em;
  margin: 15px 0;
  font-weight: 800;
}
#about .title h4 {
  font-size: 2em;
  margin: 15px 0;
}
#about .title span {
  display: block;
  width: 5%;
  margin: 25px auto;
  height: 2px;
  background-color: #5F23A5;
}
#about .title p {
  margin: 0 auto;
  width: 80%;
  font-size: 1em;
  color: #7F7F7F;
  line-height: 2;
}
#about #aboutBox {
  margin: 25px auto;
  text-align: center;
}
#about #aboutBox .box {
  border: 1px solid #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
#about #aboutBox .box .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #0E0F26;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about #aboutBox .box .title h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #000;
}
#about #aboutBox .box .desc {
  font-size: 1em;
  color: #7F7F7F;
}
#about #aboutBox .box span {
  display: block;
  margin: 25px auto;
  width: 15%;
  height: 3px;
  background-color: #5F23A5;
}

#skill, #tops {
  width: 100%;
  min-height: fit-content;
}
#skill .skillContainer,
#skill .topsContainer, #tops .skillContainer,
#tops .topsContainer {
  background-color: #F6F6F6;
}
#skill .skillContainer #skillImg,
#skill .topsContainer #skillImg, #tops .skillContainer #skillImg,
#tops .topsContainer #skillImg {
  height: 100%;
  overflow: hidden;
}
#skill .skillContainer #skillImg img,
#skill .topsContainer #skillImg img, #tops .skillContainer #skillImg img,
#tops .topsContainer #skillImg img {
  width: 100%;
}
#skill .skillContainer #topsImg,
#skill .topsContainer #topsImg, #tops .skillContainer #topsImg,
#tops .topsContainer #topsImg {
  height: 100%;
  overflow: hidden;
}
#skill .skillContainer #topsImg img,
#skill .topsContainer #topsImg img, #tops .skillContainer #topsImg img,
#tops .topsContainer #topsImg img {
  width: 100%;
}
#skill .skillContainer .box,
#skill .topsContainer .box, #tops .skillContainer .box,
#tops .topsContainer .box {
  height: 100%;
  box-shadow: 0 5px 15px #ccc;
  border-radius: 8px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}
#skill .skillContainer .box .title,
#skill .topsContainer .box .title, #tops .skillContainer .box .title,
#tops .topsContainer .box .title {
  margin: 30px;
}
#skill .skillContainer .box .title h1,
#skill .topsContainer .box .title h1, #tops .skillContainer .box .title h1,
#tops .topsContainer .box .title h1 {
  color: #000;
  margin-bottom: 15px;
}
#skill .skillContainer .box .title p,
#skill .topsContainer .box .title p, #tops .skillContainer .box .title p,
#tops .topsContainer .box .title p {
  color: #7F7F7F;
  font-size: 1em;
  line-height: 2;
}
#skill .skillContainer .box .skillBar,
#skill .topsContainer .box .skillBar, #tops .skillContainer .box .skillBar,
#tops .topsContainer .box .skillBar {
  display: flex;
  align-items: center;
}
#skill .skillContainer .box .skillBar span,
#skill .topsContainer .box .skillBar span, #tops .skillContainer .box .skillBar span,
#tops .topsContainer .box .skillBar span {
  margin: 0 10px;
  display: inline-block;
}
#skill .skillContainer .box .skillBar .skillName,
#skill .topsContainer .box .skillBar .skillName, #tops .skillContainer .box .skillBar .skillName,
#tops .topsContainer .box .skillBar .skillName {
  width: 60px;
  height: 24px;
}
#skill .skillContainer .box .skillBar .bar,
#skill .topsContainer .box .skillBar .bar, #tops .skillContainer .box .skillBar .bar,
#tops .topsContainer .box .skillBar .bar {
  width: 80%;
  height: 24px;
  background-color: #ddd;
  border-radius: 15px;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
#skill .skillContainer .box .skillBar .bar .progressPhp,
#skill .topsContainer .box .skillBar .bar .progressPhp, #tops .skillContainer .box .skillBar .bar .progressPhp,
#tops .topsContainer .box .skillBar .bar .progressPhp {
  margin: 0;
  display: block;
  position: absolute;
  height: 24px;
  background-color: #7377ad;
  width: 50%;
}
#skill .skillContainer .box .skillBar .bar .progressPhp.php,
#skill .topsContainer .box .skillBar .bar .progressPhp.php, #tops .skillContainer .box .skillBar .bar .progressPhp.php,
#tops .topsContainer .box .skillBar .bar .progressPhp.php {
  animation: PHP 1s linear;
}
#skill .skillContainer .box .skillBar .bar .progressHtml,
#skill .topsContainer .box .skillBar .bar .progressHtml, #tops .skillContainer .box .skillBar .bar .progressHtml,
#tops .topsContainer .box .skillBar .bar .progressHtml {
  margin: 0;
  display: block;
  position: absolute;
  height: 24px;
  background-color: #dd4b25;
  width: 100%;
}
#skill .skillContainer .box .skillBar .bar .progressHtml.Html,
#skill .topsContainer .box .skillBar .bar .progressHtml.Html, #tops .skillContainer .box .skillBar .bar .progressHtml.Html,
#tops .topsContainer .box .skillBar .bar .progressHtml.Html {
  animation: Html 1s linear;
}
#skill .skillContainer .box .skillBar .bar .progressCss,
#skill .topsContainer .box .skillBar .bar .progressCss, #tops .skillContainer .box .skillBar .bar .progressCss,
#tops .topsContainer .box .skillBar .bar .progressCss {
  margin: 0;
  display: block;
  position: absolute;
  height: 24px;
  background-color: #254bdd;
  width: 80%;
}
#skill .skillContainer .box .skillBar .bar .progressCss.css,
#skill .topsContainer .box .skillBar .bar .progressCss.css, #tops .skillContainer .box .skillBar .bar .progressCss.css,
#tops .topsContainer .box .skillBar .bar .progressCss.css {
  animation: Css 1s linear;
}
@keyframes PHP {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes Html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes Css {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
#skill .skillContainer .result,
#skill .topsContainer .result, #tops .skillContainer .result,
#tops .topsContainer .result {
  border-radius: 8px;
}
#skill .skillContainer .result .rTitle,
#skill .topsContainer .result .rTitle, #tops .skillContainer .result .rTitle,
#tops .topsContainer .result .rTitle {
  margin: 15px 0;
  padding: 0 15px;
  background-image: linear-gradient(to right, #302399, #5F23A5);
  color: #FFFCFF;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#skill .skillContainer .result .rTitle h3,
#skill .topsContainer .result .rTitle h3, #tops .skillContainer .result .rTitle h3,
#tops .topsContainer .result .rTitle h3 {
  margin-top: 5px;
  font-size: 1.5em;
}
#skill .skillContainer .result .rTitle i:hover,
#skill .topsContainer .result .rTitle i:hover, #tops .skillContainer .result .rTitle i:hover,
#tops .topsContainer .result .rTitle i:hover {
  cursor: pointer;
}
#skill .skillContainer .result .rDesc,
#skill .topsContainer .result .rDesc, #tops .skillContainer .result .rDesc,
#tops .topsContainer .result .rDesc {
  width: 90%;
  margin: 25px auto;
}
#skill .skillContainer .result .rDesc p,
#skill .topsContainer .result .rDesc p, #tops .skillContainer .result .rDesc p,
#tops .topsContainer .result .rDesc p {
  font-size: 1em;
  color: #7F7F7F;
  line-height: 2;
}

#services {
  min-height: fit-content;
}
#services .title {
  text-align: center;
}
#services .title h2 {
  font-size: 3em;
  color: #000;
}
#services .title span {
  margin: 0 10px;
  width: 3%;
  display: inline-block;
  height: 1px;
  background-color: #5F23A5;
}
#services .title p {
  display: inline-block;
  color: #7F7F7F;
  font-size: 1em;
}
#services .box {
  border: 1px solid #d5d5d5;
  padding: 15px;
  border-radius: 10px;
}
#services .box .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #0E0F26;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .box .title h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #000;
}
#services .box .desc {
  font-size: 1em;
  color: #7F7F7F;
}
#services .box span {
  display: block;
  margin: 25px auto;
  width: 15%;
  height: 3px;
  background-color: #5F23A5;
}

#achivment {
  min-height: fit-content;
  background-image: url("../img/achivment.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  position: relative;
}
#achivment:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#achivment #count {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#achivment #count .box {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
#achivment #count .box .icon {
  margin: 25px auto;
  width: 58px;
  height: 58px;
  color: #FFFCFF;
  border-radius: 50%;
}
#achivment #count .box .icon i {
  font-size: 3em;
  line-height: 58px;
}
#achivment #count .box .title {
  color: #FFFCFF;
}
#achivment #count .box .count {
  margin: 25px 0;
  color: #FFFCFF;
}
#achivment #count .box .count h2 {
  font-size: 3em;
}

#smaples {
  min-height: fit-content;
}
#smaples #filtering .title {
  text-align: center;
}
#smaples #filtering .title h1 {
  font-size: 3em;
}
#smaples #filtering .title p {
  margin: 15px 5px;
  display: inline-block;
  font-size: 1em;
  color: #7F7F7F;
}
#smaples #filtering .title span {
  display: inline-block;
  background-color: #5F23A5;
  height: 1px;
  width: 3%;
}
#smaples #filtering .btn-group {
  display: flex;
  justify-content: center;
  width: 25%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #dddddd;
  padding: 6px;
}
#smaples #filtering .btn-group .btn-filter {
  color: #0E0F26;
  transition: 300ms;
  border: none;
}
#smaples #filtering .btn-group .btn-filter:hover {
  border: none;
  transform: translateY(-5px);
}
#smaples #filtering .btn-group .btn-filter.active {
  color: #FFFCFF;
  background-color: #5b4cd6;
  border: 1px solid #5b4cd6;
  border-radius: 25px;
}
#smaples #filtering .box {
  position: relative;
}
#smaples #filtering .box .img {
  width: 100%;
  overflow: hidden;
}
#smaples #filtering .box .img img {
  width: 100%;
}
#smaples #filtering .box .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #FFFCFF;
  border: 1px solid #dddddd;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  transition: 300ms;
  transform: scale(0);
}
#smaples #filtering .box .overlay .title {
  color: #7F7F7F;
  font-size: 1em;
}
#smaples #filtering .box .overlay a {
  width: 45px;
  height: 45px;
  border: 1px solid #dddddd;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  color: #0E0F26;
  transition: 150ms;
}
#smaples #filtering .box .overlay a:hover {
  background-color: #5F23A5;
  color: #FFFCFF;
}
#smaples #filtering .box .overlay a i {
  text-align: center;
  line-height: 42px;
}
#smaples #filtering .box:hover .overlay {
  opacity: 1;
  transform: scale(1);
}

#team {
  min-height: fit-content;
}
#team .profile {
  margin: 0 auto;
  width: 250px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  transition: 300ms;
}
#team .profile .profileImg {
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 15px auto;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#team .profile .job {
  font-size: 1.3em;
  color: #7F7F7F;
}
#team .profile .icons {
  opacity: 0;
  transition: 300ms;
}
#team .profile .icons a {
  color: #7F7F7F;
  text-decoration: none;
  font-size: 1.3em;
  margin: 0 10px;
}
#team .profile .icons a i {
  transition: 300ms;
}
#team .profile .icons a i.fa-whatsapp:hover {
  color: #3db74d;
  transform: translateY(-5px);
}
#team .profile .icons a i.fa-instagram:hover {
  color: #f60a5f;
  transform: translateY(-5px);
}
#team .profile .icons a i.fa-github:hover {
  color: #0E0F26;
  transform: translateY(-5px);
}
#team .profile:hover {
  box-shadow: 0 5px 15px #ddd;
  transform: translateY(-5px);
}
#team .profile:hover .icons {
  opacity: 1;
}

#price {
  width: 100%;
  min-height: fit-content;
}
#price .container {
  max-width: 80%;
}
#price .title {
  text-align: center;
}
#price .title h1 {
  font-size: 3em;
  margin-bottom: 15px;
}
#price .title p {
  margin: 15px 5px;
  display: inline-block;
  font-size: 1em;
  color: #7F7F7F;
}
#price .title span {
  display: inline-block;
  background-color: #5F23A5;
  height: 1px;
  width: 3%;
}
#price .active .box {
  transform: scale(1.1);
  background-image: url("../img/price.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  color: #FFFCFF;
}
#price .active .box:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(48, 35, 153, 0.6);
  z-index: -1;
}
#price .active .box .pTitle {
  color: #FFFCFF;
}
#price .active .box .price {
  color: #FFFCFF;
}
#price .active .box .price:after {
  color: #ddd;
}
#price .active .box button {
  color: #FFFCFF;
}
#price .active .box button:before {
  background-color: #f60a5f !important;
}
#price .active .box button:after {
  background-color: #f60a5f !important;
}
#price .box {
  overflow: hidden;
  height: 500px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
#price .box .pTitle {
  margin: 15px 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
  color: #000;
}
#price .box .price {
  color: #000;
  font-size: 1.7em;
  display: inline-flex;
  justify-content: center;
  position: relative;
}
#price .box .price:after {
  content: "تومان";
  margin: 0 8px;
  color: #7F7F7F;
  font-size: 0.7em;
  line-height: 3;
}
#price .box .duration {
  font-size: 1.2em;
}
#price .box ul {
  text-align: right;
  list-style: none;
  padding: 0;
}
#price .box ul li {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}
#price .box ul li i.fa-check {
  color: #3db74d;
}
#price .box ul li i.fa-close {
  color: #f60a5f;
}
#price .box button {
  color: #000;
}
#price .box button:hover {
  color: #FFFCFF;
}

#coments {
  min-height: 70vh;
}
#coments .commentsBg {
  background-image: url("../img/comments.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#coments .commentsBg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
#coments .container {
  display: flex;
  min-height: 70vh;
  align-items: center;
}
#coments .comment {
  margin: 20px auto;
  width: 70%;
}
#coments .comment .commentImg {
  width: 58px;
  height: 58px;
  overflow: hidden;
  margin: 15px auto;
}
#coments .comment .commentTxt {
  font-size: 1em;
  text-align: center;
  background-color: rgba(255, 252, 255, 0.2);
  box-shadow: 0 0px 15px rgba(255, 252, 255, 0.4);
  color: #FFFCFF;
  padding: 15px;
  border-radius: 10px;
}
#coments .comment .commentTxt p {
  line-height: 2;
}
#coments .owl-nav button {
  width: 45px;
  height: 45px;
  padding: 15px;
  border-radius: 50%;
  background-color: #ddd;
  font-size: 2em;
}

#blog {
  min-height: fit-content;
}
#blog .title {
  text-align: center;
}
#blog .title h2 {
  font-size: 3em;
  color: #000;
}
#blog .title span {
  margin: 0 10px;
  width: 3%;
  display: inline-block;
  height: 1px;
  background-color: #5F23A5;
}
#blog .title p {
  display: inline-block;
  color: #7F7F7F;
  font-size: 1em;
}
#blog .box {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}
#blog .box .blogImg {
  width: 100%;
  height: 20%;
  overflow: hidden;
}
#blog .box .blogImg img {
  width: 100%;
  transition: 300ms;
}
#blog .box .blogDesc {
  padding: 5px 15px;
  height: 10%;
  display: flex;
  justify-content: space-between;
}
#blog .box .blogDesc p {
  display: inline-block;
  color: #7F7F7F;
}
#blog .box .blogTitle {
  padding: 0 15px;
}
#blog .box .blogTitle a {
  color: #0E0F26;
  text-decoration: none;
  font-size: 1em;
}
#blog .box .blogContent {
  padding: 15px;
  line-height: 2;
  color: #7F7F7F;
  font-size: 1em;
}
#blog .box:hover .blogImg img {
  transform: scale(1.1);
}
#blog button {
  color: #0E0F26;
  border: 1px solid #5F23A5;
}
#blog button:hover {
  color: #FFFCFF;
}

#contact {
  min-height: fit-content;
}
#contact .contactImg {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 8px;
  overflow: hidden;
  background-image: url("../img/skill.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
#contact .contactImg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}
#contact .contactImg img {
  width: 100%;
}
#contact .contactImg .content {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contact .contactImg .items {
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  color: #FFFCFF;
  display: flex;
}
#contact .contactImg .items .icon {
  font-size: 2em;
  margin: 0 20px;
}
#contact .contactImg .items .info p {
  font-size: 1em;
  line-height: 0.75;
  padding: 0;
}
#contact .contactImg .items .info p:first-child {
  font-size: 1.2em !important;
  font-weight: 600;
}
#contact .contactImg .items .info p:last-child {
  color: #b2b2b2;
}
#contact .contactImg .items .info.email p {
  font-size: 1em;
}
#contact .contactImg .items .info.email p:nth-child(2) {
  color: #b2b2b2;
}
#contact form {
  padding: 0 25px;
  width: 100%;
}
#contact form label {
  width: 100%;
}
#contact form label input {
  width: 100%;
  height: 48px;
  margin: 15px 0;
  border-radius: 10px;
  padding: 0 5px;
  border: 0;
  background-color: #e5e5e5;
}
#contact form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 0 5px;
  border: 0;
  background-color: #e5e5e5;
}
#contact form button {
  margin: 15px auto;
  width: 45%;
  height: 48px;
  color: #0E0F26;
  border: #5F23A5 1px solid;
}
#contact form button:hover {
  color: #FFFCFF;
}

footer {
  min-height: 30vh;
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  background-color: #04050c;
}
footer .logo {
  width: 58px;
  height: 58px;
  margin: 15px auto;
  overflow: hidden;
}
footer .logo img {
  width: 100%;
}
footer .icons {
  text-align: center;
  margin: 0 auto;
}
footer .icons a {
  font-size: 1.2em;
  color: #FFFCFF;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #dddddd;
  border-radius: 50%;
  text-decoration: none;
  line-height: 48px;
  transition: 100ms;
}
footer .icons a.Instagram:hover {
  background-color: #f60a5f;
  border-color: #f60a5f;
}
footer .icons a.Whatsapp:hover {
  background-color: #3db74d;
  border-color: #3db74d;
}
footer .icons a.Telegram:hover {
  background-color: #254bdd;
  border-color: #254bdd;
}
footer .icons a.gitHub:hover {
  background-color: #000;
  border-color: #000;
}
footer p {
  margin: 15px 0;
  color: #FFFCFF;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 1.5em !important;
  }
  h3 {
    font-size: 1em !important;
  }
  .wave:before {
    height: 40px;
  }
  nav #mobileMenu {
    display: block !important;
    font-size: 18px;
    color: #fff;
  }
  nav.mobileMenu {
    background-color: #FFFCFF !important;
  }
  nav.mobileMenu #mobileMenu {
    display: block !important;
    font-size: 18px;
    color: #0E0F26;
  }
  nav ul.nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #FFFCFF;
    text-align: center;
    z-index: 99;
  }
  nav ul.nav li {
    width: 100%;
  }
  nav ul.nav li a {
    display: block;
    color: #000;
    width: 100%;
  }
  nav ul.nav li a.active {
    width: 100%;
    border-radius: 0;
  }
  nav.stick.mobileMenu {
    background-color: #0E0F26 !important;
  }
  nav.stick #mobileMenu {
    color: #fff;
  }
  nav.stick ul {
    background-color: #0E0F26;
    height: 100vh;
  }
  nav.stick ul.nav li a {
    display: block;
    color: #FFFCFF;
    width: 100%;
  }
  nav.stick ul.nav li a.active {
    width: 100%;
    border-radius: 0;
  }
  section {
    display: block;
    min-height: 100vh !important;
  }
  #team .profile {
    width: 100%;
  }
  #team .profile .icons {
    opacity: 1;
  }
  #team .profile .icons a {
    margin: 0 !important;
  }
}

/*# sourceMappingURL=index.css.map */
