<!doctype html>
<html lang="Fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <!--    links    -->
    <link rel="stylesheet" href="../node_modules/vazirmatn/misc/UI-Farsi-Digits/Vazirmatn-UI-FD-font-face.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <!--    scripts  -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../assets/js/home.js"></script>
</head>
<body data-bs-smooth-scroll="true" data-bs-target="#navigation" tabindex="0" data-bs-spy="scroll" dir="rtl">

<div id="goTop">
    <i class="fa fa-angle-up fa-2x"></i>
</div>
<header id="home">
    <nav class="navbar" id="navigation">
        <div class="container">
            <a href="index.html" class="logo">
                <img class="img-fluid" src="../assets/img/logo.png" alt="">
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="" href="#home">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#about">درباه ما</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#skill">مهارت ها</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#services">خدمات</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#achivment">دستاورد ها</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#smaples">نمونه کار ها</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#tops">برتری ها</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#team">تیم</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#price">قیمت ها</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#coments">دیدگاه ها</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#blog">بلاگ</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#customers">مشتریان</a>
                </li>
                <li class="nav-item">
                    <a class="" href="#contact">تماس</a>
                </li>
            </ul>
            <i id="mobileMenu" class="fa fa-navicon"></i>
        </div>
    </nav>
    <div id="headContent">
        <h3 class="mb-4">
            طراحی سایت
        </h3>
        <h1 class="mb-4">اسم تیم طراحی</h1>
        <p class="mb-4">
            و بی برنامه پروژه را به انتها می‌رسانند و معمولا احساس نارضایتی می‌کنند.
        </p>
        <div class="btns mb-4">
            <button class="button">
                آشنایی بیشتر
            </button>
            <button class="button">
                شروع کنید
            </button>
        </div>
    </div>
</header>
<section id="about">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita incidunt pariatur
            voluptatibus. Ab ad assumenda aut dolor expedita fugit in laudantium modi non placeat porro, qui repudiandae
            voluptas voluptate?
        </p>
    </div>
</section>
<section id="contact">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita incidunt pariatur
            voluptatibus. Ab ad assumenda aut dolor expedita fugit in laudantium modi non placeat porro, qui repudiandae
            voluptas voluptate?
        </p>
    </div>
</section>


</body>
</html>