<!doctype html>
<html lang="Fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
    <!--    links    -->
    <link rel="stylesheet" href="../node_modules/vazirmatn/misc/UI-Farsi-Digits/Vazirmatn-UI-FD-font-face.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <!--    scripts  -->
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../assets/js/home.js"></script>
</head>
<body data-bs-smooth-scroll="true" data-bs-target="#navigation" tabindex="0" data-bs-spy="scroll" dir="rtl">
<header id="home">
    <nav class="navbar" id="navigation">
        <div class="container">
            <a href="index.html" class="logo">
                <img class="img-fluid" src="../assets/img/logo.png" alt="">
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#home">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">درباه ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">تماس با ما</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<section id="about">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita incidunt pariatur
            voluptatibus. Ab ad assumenda aut dolor expedita fugit in laudantium modi non placeat porro, qui repudiandae
            voluptas voluptate?
        </p>
    </div>
</section>
<section id="contact">
    <div class="container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium expedita incidunt pariatur
            voluptatibus. Ab ad assumenda aut dolor expedita fugit in laudantium modi non placeat porro, qui repudiandae
            voluptas voluptate?
        </p>
    </div>
</section>


</body>
</html>